.newUserWraper {
  /* max-width: 600px; */
  flex: 4;
  margin: 40px auto;
  padding: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
  border-radius: 12px;
}

.newUserTitle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.newUserWraper h2 {
  font-size: 22px;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

.newUserForm {
  display: flex;
  flex-direction: column;
}

.newUserForm label {
  font-weight: 600;
  margin-bottom: 5px;
  color: #333;
}

.newUserForm input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

.newUserForm button {
  padding: 12px;
  background-color: darkblue;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: all 100ms linear;
}

.newUserForm button:hover {
  background-color: #0f4a8d;
}

@media (max-width: 700px) {
  .newUserWraper {
    padding: 15px;
  }

  .newUserForm input {
    font-size: 13px;
  }

  .newUserForm button {
    font-size: 14px;
    width: 100%;
  }
}